---
layout: default
---

<div class="home">

  <h1 class="page-heading">LND Developer Site</h1>

  <section>
    <p>Resources and documentation for the
      <a href="https://github.com/lightningnetwork/lnd">Lightning Network Daemon (LND)</a>
    </p>
  </section>

  <section class="page-content">
    <h2>Learn</h2>
    <p>New to lnd?
      <a href="/installation/">Installation</a> and
      <a href="/tutorial/">Tutorial</a>
    </p>
    <p>Curious about the Lightning Network? <a href="/resources/">Resources</a></p>
  </section>

  <section class="page-content">
    <h2>Develop</h2>
    <p>Want to help build the future? <a href="/contribute/">Contribute</a></p>
    <p>Looking to read the code? <a href="https://github/lightningnetwork/lnd">Github</a></p>
  </section>

  <section class="page-content">
  <h2>Join the Community</h2>
  <p>Join the 
    <a href="https://join.slack.com/t/lightningcommunity/shared_invite/MjE0NDkzNDM5NzQ3LTE1MDA0MjE0NzctODNlZDlmNWYzOA">LND Community Slack</a>
    to meet the team, discuss development, and hang out!
  </p>
  </section>

</div>
