---
layout: default
---

<div class="home">

  <h1 class="page-heading">LND Developer Site</h1>

  <section>
    <p>Resources and documentation for the
      <a href="https://github.com/lightningnetwork/lnd">Lightning Network Daemon (LND)</a>
    </p>
  </section>

  <section class="page-content">
    <h1>Overview</h1>
    <p>
      The Lightning Network scales blockchains and enables trustless instant
      payments by keeping most transactions off-chain and leveraging the
      security of the underlying blockchain as an arbitration layer.
    </p>
    <p>
      This is accomplished primarily through "payment-channels", wherein two
      parties commit funds and pay each other by updating the balance
      redeemable by either party in the channel. This process is instant and
      saves users from having to wait for block confirmations before they can
      render goods or services.
    </p>
    <p>
      Payment channels are trustless, since any attempt to defraud the current
      agreed-upon balance in the channel results in the complete forfeiture of
      funds by the liable party.
    </p>
    <p>
      By moving payments off-chain, the cost of opening and closing channels
      (in the form of on-chain transaction fees) is ammortized over the volume
      of payments in that channel, enabling micropayments and small-value
      transactions for which the on-chain transaction fees would otherwise be
      too expensive to justify.  Furthermore, the Lightning Network scales not
      with the transaction throughput of the underlying blockchain, but with
      modern data processing and latency limits - payments can be made nearly
      as quickly as packets can be sent.
    </p>
    <p>
      Hash Time-Locked Contracts (HTLCs) allow transactions to be sent between
      parties who do not have a direct channels by routing it through multiple
      hops, so anyone connected to the Lightning Network is part of a single,
      interconnected global financial system.
    </p>
    <p>
      In short, the Lightning Network enables scalable blockchains through a
      high-volume of instant transactions not requiring custodial delegation.
    </p>
    <p>
      Continue reading at the full <a href="/overview/">LND Overview and
        Developer Guide</a>.
    </p>
  </section>

  <section class="page-content">
    <h2>Learn</h2>
    <p>New to LND?
      <a href="/overview/">Overview</a>,
      <a href="/guides/installation/">Installation</a>, and
      <a href="/tutorial/">Tutorial</a>
    </p>
    <p>Curious about the Lightning Network? <a href="/resources/">Resources</a></p>
  </section>

  <section class="page-content">
    <h2>Develop</h2>
    <p>Looking for detailed dev manuals? <a href="/guides/">Developer Guides</a></p>
    <p>API Reference Documentation? <a href="https://api.lightning.community">API site</a></p>
    <p>Want to help build the future? <a href="/contribute/">Contribute</a></p>
    <p>Looking to read the code? <a href="https://github/lightningnetwork/lnd">Github</a></p>
  </section>

  <section class="page-content">
  <h2>Community</h2>
  <p>Follow the
    <a href="//lightning.community">Lightning Labs community blog</a>
    to keep posted about LND.
  </p>
  <p>Join the 
    <a href="https://join.slack.com/t/lightningcommunity/shared_invite/MjE0NDkzNDM5NzQ3LTE1MDA0MjE0NzctODNlZDlmNWYzOA">LND Community Slack</a>
    to meet the team, discuss development, and hang out!
  </p>
  </section>

</div>
