---
layout: default
---

<div class="home">

  <h1 class="page-heading">Building on the Lightning Network Daemon</h1>
  <p>New to lnd?
    <a href="/installation/">Installation</a> and
    <a href="/tutorial/">Tutorial</a>
  </p>
  <p>Curious about the Lightning Network? <a href="/resources/">Resources</a></p>
  <p>Want to help build the future? <a href="/contribute/">Contribute</a></p>

  <h1 class="page-heading">LND Community</h1>
  <p>Join the 
    <a href="https://join.slack.com/t/lightningcommunity/shared_invite/MjE0NDkzNDM5NzQ3LTE1MDA0MjE0NzctODNlZDlmNWYzOA">LND Community Slack</a>
    to meet the community, discuss development, and hang out!
  </p>

  {{ content }}

</div>
